<ion-header clas="aa" style="background-color: black">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Today</ion-title>
    </ion-toolbar>
  
  <ion-grid class="superior" style="background-color: black">
      <ion-row>
        <ion-col size="2" offset="2">
          <div>
              <ion-button fill="clear" slot="start" href="/tabs/tab1" >
                  <ion-label> Me </ion-label>
                </ion-button>
          </div>
        </ion-col>
        <ion-col size="2" offset="2">
          <div>
              <ion-button fill="clear" slot="end" >
                <ion-label> Explore </ion-label>
              </ion-button>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-header> 
  <ion-content class="content" style="background-color: black">
    <h4 class="intro">
      Trending in tech
    </h4>
    <ion-card class="welcome-card" style="background-color: black">
        <ion-row>
            <ion-col size="4" offset="1">
              <div>
                <ion-card-header>
                  <ion-card-title class="title">¡Titulos!</ion-card-title>
                </ion-card-header>
                <ion-card-content  class="enlace">
                    <p>
                      <ion-icon name="trending-up"></ion-icon>
                      Enlaces
                    </p>
                </ion-card-content>
              </div>
            </ion-col>
            <ion-col size="4" offset="3">
              <div>
                  <img src="./assets/imagen.png" />
              </div>
            </ion-col>
          </ion-row>
    </ion-card>
  
    <ion-card class="welcome-card" style="background-color: black">
        <ion-row>
            <ion-col size="4" offset="1">
              <div>
                <ion-card-header>
                  <ion-card-title class="title">¡Titulos!</ion-card-title>
                </ion-card-header>
                <ion-card-content  class="enlace">
                    <p>
                      <ion-icon name="trending-up"></ion-icon>
                      Enlaces
                    </p>
                </ion-card-content>
              </div>
            </ion-col>
            <ion-col size="4" offset="3">
              <div>
                  <img src="./assets/imagen.png" />
              </div>
            </ion-col>
          </ion-row>
    </ion-card>
  
    <ion-card class="welcome-card" style="background-color: black">
        <ion-row>
            <ion-col size="4" offset="1">
              <div>
                <ion-card-header>
                  <ion-card-title class="title">¡Titulos!</ion-card-title>
                </ion-card-header>
                <ion-card-content  class="enlace">
                    <p>
                      <ion-icon name="trending-up"></ion-icon>
                      Enlaces
                    </p>
                </ion-card-content>
              </div>
            </ion-col>
            <ion-col size="4" offset="3">
              <div>
                  <img src="./assets/imagen.png" />
              </div>
            </ion-col>
          </ion-row>
    </ion-card>
  
    <ion-card class="welcome-card" style="background-color: black">
        <ion-row>
            <ion-col size="4" offset="1">
              <div>
                <ion-card-header>
                  <ion-card-title class="title">¡Titulos!</ion-card-title>
                </ion-card-header>
                <ion-card-content  class="enlace">
                    <p>
                      <ion-icon name="trending-up"></ion-icon>
                      Enlaces
                    </p>
                </ion-card-content>
              </div>
            </ion-col>
            <ion-col size="4" offset="3">
              <div>
                  <img src="./assets/imagen.png" />
              </div>
            </ion-col>
          </ion-row>
    </ion-card>
  
    <ion-card class="welcome-card" style="background-color: black">
        <ion-row>
            <ion-col size="4" offset="1">
              <div>
                <ion-card-header>
                  <ion-card-title class="title">¡Titulos!</ion-card-title>
                </ion-card-header>
                <ion-card-content  class="enlace">
                    <p>
                      <ion-icon name="trending-up"></ion-icon>
                      Enlaces
                    </p>
                </ion-card-content>
              </div>
            </ion-col>
            <ion-col size="4" offset="3">
              <div>
                  <img src="./assets/imagen.png" />
              </div>
            </ion-col>
          </ion-row>
    </ion-card>
  
    <ion-card class="welcome-card" style="background-color: black">
        <ion-row>
            <ion-col size="4" offset="1">
              <div>
                <ion-card-header>
                  <ion-card-title class="title">¡Titulos!</ion-card-title>
                </ion-card-header>
                <ion-card-content  class="enlace">
                    <p>
                      <ion-icon name="trending-up"></ion-icon>
                      Enlaces
                    </p>
                </ion-card-content>
              </div>
            </ion-col>
            <ion-col size="4" offset="3">
              <div>
                  <img src="./assets/imagen.png" />
              </div>
            </ion-col>
          </ion-row>
    </ion-card>
    
  
  </ion-content>